Code
GIMP
Meltytech
QtProject.conf
asciinema
coc
Code
dconf
d-feet
fish
fontconfig
font-manager
gtk-2.0
gtk-3.0
kdenliverc
mpv
ncpamixer
obs-studio
pulse
tmux
vlc
discord
htop
inkscape
kconf_updaterc
kdeglobals
kdenlive-layoutsrc
kwalletrc
mimeapps.list
user-dirs.dirs
user-dirs.locale
google-chrome
obsidian
ncspot/userstate.cbor
ncspot/config-spotify.toml
qtile/__pycache__
qtile/.mypy_cache
qtile/settings/__pycache__
rofi/config.rasi_
rofi/config_bk.rasi
rofi/powermenu
